<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t("spree_reviews.review_settings") %>
<% end %>

<table>
  <tr>
    <td><%= t("spree_reviews.product_reviews") %>:</th>
    <td><%= Spree::Reviews::Config[:product_reviews] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.site_reviews") %>:</th>
    <td><%= Spree::Reviews::Config[:site_reviews] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.include_unapproved") %>:</th>
    <td><%= Spree::Reviews::Config[:include_unapproved_reviews] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.feedback_rating") %>:</th>
    <td><%= Spree::Reviews::Config[:feedback_rating] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.show_email") %>:</th>
    <td><%= Spree::Reviews::Config[:show_email] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.require_login") %>:</th>
    <td><%= Spree::Reviews::Config[:require_login] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.track_locale") %>:</th>
    <td><%= Spree::Reviews::Config[:track_locale] ? t('yes') : t('no') %></td>
  </tr>
  <tr>
    <td><%= t("spree_reviews.preview_size") %>:</th>
    <td><%= Spree::Reviews::Config[:preview_size] %></td>
  </tr>
</table>

<p>
  <%= link_to_with_icon('edit', t("edit"), edit_admin_review_settings_path) %>
</p>
